<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
    <div class="col-6">
        <h3>Listagem de clientes</h3>
        <a href="{% url 'product_new' %}">Novo Cliente</a>
    <ul class="list-group">
        {% for client in clients %}
        <li class="list-group-item">
            <a href="{% url 'product_update' product.id %}"> {{client.first_name }} </a>
            <a href="{% url 'product_update' product.id %}" class="trash-item"> Deletar </a>
        </li>
            {% endfor %}
    </ul>
    </body>
</html>