<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Novo Cliente</title>
    </head>
    <body>
    <h3>Novo cliente</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
</body>
</html>